# Python
*.pyc
__pycache__/
.env
*.yaml
.vscode/
.idea/
.DS_Store
*.log
# Visual Studio Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Test/Cache
.cache/
.pytest_cache/
.coverage
coverage.xml

# Jupyter
.ipynb_checkpoints/

# Build folders
build/
dist/
.eggs/
*.egg-info/


